.link {
  background-color: transparent;
  color: var(--color-primary);
  transition: .2s;
}

.link:hover {
  color: var(--color-neutral-dark);
  box-shadow: 0 0 0 1px var(--color-neutral-dark);
}

.link:focus {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.link:active {
  box-shadow: none;
}

.link:disabled {
  color: var(--color-neutral-grey);
  pointer-events: none;
}
