.link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  background-color: transparent;
  color: var(--color-primary);
  transition: .1s;
}

.link:hover {
  color: var(--color-neutral-dark);
  box-shadow: 0 0 0 1px var(--color-neutral-dark);
}

.link:focus {
  text-decoration: underline;
}

.link:active {
  box-shadow: none;
}

.link:disabled {
  color: var(--color-neutral-grey);
  pointer-events: none;
}
