.primary {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px 16px;
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
  transition: .1s;
}

.primary:hover {
  color: #222;
}

.primary:focus {
  text-decoration: underline;
}

.primary:active {
  background-color: #222;
  color: var(--color-primary)
}

.primary:disabled {
  background-color: var(--color-neutral-grey);
  pointer-events: none;
}
