.primary {
  padding: 8px 16px;
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
  transition: .2s;
}

.primary:hover {
  color: #222;
}

/*
TODO:
- user ::before to create a more decent underline
- focus must work even with other elements being clicked
*/
.primary:focus {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.primary:active {
  background-color: #222;
  color: var(--color-primary)
}

.primary:disabled {
  background-color: var(--color-neutral-grey);
  pointer-events: none;
}
