.secondary {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px 14px;
  position: relative;
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  transition: .1s;
}

.secondary:hover {
  color: var(--color-neutral-dark);
  box-shadow: 0 0 0 2px var(--color-neutral-dark);
}

.secondary:focus {
  text-decoration: underline;
}

.secondary:active {
  background-color: var(--color-primary);
  color: #000;
}

.secondary:disabled {
  box-shadow: 0 0 0 2px var(--color-neutral-grey);
  color: var(--color-neutral-grey);
  pointer-events: none;
}
