.secondary {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #8DB52F;
  outline: none;
  padding: 8px 16px;
  position: relative;
  background-color: transparent;
  color: #8DB52F;
  transition: .1s;
}

.secondary:hover {
  color: #fff;
  background-color: #8DB52F;
}

.secondary:active {
  background-color: #8DB52F;
  color: #000;
  border: 2px solid #8DB52F;
}

.secondary:focus {
  box-shadow: 0 0 1px 2px #8DB52F;
}

.secondary:disabled {
  border: 2px solid #999;
  color: #999;
  pointer-events: none;
}
